<div class='row'>
	<div class='span2'>
		<img src='/assets/coffee.jpg' width='144' height='144' class='img-circle'/>
	</div>

	<div class='span5'>
		<h1>
			Shaikh
		</h1>
		<p class='lead'>
			<i class='icon-gift'></i>
			I love Canada
		</p>
	</div>
</div>

